<div class="card">
    <div class="card-body">
        <h3 class="text-center">View List</h3>
        <hr>
        <h6>End Point: <strong>http://159.203.184.170:8000/api/item/showall</strong></h6>
        <h6>Metodo: <strong>GET</strong></h6>
        <h6>Datos JSON:</h6>
        <div class="alert alert-info">{{ data | json }}</div>
        <ul class="list-group">
            <li *ngFor="let item of data" class="list-group-item">item title: <strong>{{ item.tittle }}</strong></li>
        </ul>
    </div>
</div>