<br>
<a href="https://gitlab.com/AndresCode11/prueba-tecnica-angular" target="_blank">Repositorio Angular</a> 
<a href="https://gitlab.com/AndresCode11/prueba-tecnica-angular/blob/master/README.md" class="ml-5" target="_blank">Despliegue Angular</a>
<br>
<a href="https://gitlab.com/AndresCode11/prueba-tecnica-laravel" target="_blank">Repostiorio Laravel</a>
<a href="https://gitlab.com/AndresCode11/prueba-tecnica-laravel/blob/master/readme.md" class="ml-5" target="_blank">Despliegue Laravel</a>
    <div class= mt-4>
        <h3 class="text-center">Prueba Tecnica</h3>
        <h5 class="text-center">FullStack developer</h5>
        <h4 class="text-center">Pablo Andres Diaz Mora</h4>
    </div>

<div class="card mt-5">
    <div class="card-body">
        <p></p>
        <ul class="list-group">
            <li *ngFor="let item of menuItems" class="list-group-item text-left" [routerLink]="item.path">
                <strong>{{ item.title }}</strong>
            </li>
        </ul>
    </div>
</div>