<div class="card text-center">
    <div class="card-body">
        <h3>Delete Item</h3>
        <hr>
        <div class="text-left">
            <h6>End Point: <strong>http://159.203.184.170:8000/api/item/delete</strong></h6>
            <h6>Metodo: <strong>POST</strong></h6>
        </div>
        <ul class="list-group">
            <li *ngFor="let item of data" class="list-group-item text-left">
                <p>Item Id: <strong>{{ item.id }}</strong></p>
                <p>Title: <strong>{{ item.tittle }}</strong></p>
                <button (click)="deleteItem( item.id )" class="btn btn-danger">eliminar</button>
            </li>
        </ul>
        <div></div>
    </div>
</div>