<div class="card text-center">
    <div class="card-body">
        <h3>Edit Item</h3>
        <hr>
        <div class="text-left">
            <h6>End Point: <strong>http://159.203.184.170:8000/api/item/edit</strong></h6>
            <h6>Metodo: <strong>POST</strong></h6>
        </div>
        <ul class="list-group">
            <li *ngFor="let item of data;let i = index" class="list-group-item text-left">
                <p>Item Id: <strong>{{ item.id }}</strong></p>
                <p>Title: <strong>{{ item.tittle }}</strong></p>
                <button type="button"
                        (click)="getCurrentItem(i)" 
                        class="btn btn-primary" 
                        data-toggle="modal" 
                        data-target="#exampleModal">
                    Editar                      
                </button>
            </li>
        </ul>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <form [formGroup]="editForm">
                <label>ID</label>
                <input disabled type="text" class="form-control" formControlName="id">
                <label for="">Title</label>
                <input type="text" class="form-control" formControlName="title">
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">cerrar</button>
        <button (click)="editItem()" type="button" class="btn btn-sm btn-primary">Editar Item</button>
    </div>
    </div>
</div>
</div>