<div class="card text-center">
    <div class="card-body">
        <h3>Create Item</h3>
        <hr>
        <div class="text-left">
            <h6>End Point: <strong>http://159.203.184.170:8000/api/item/create</strong></h6>
            <h6>Metodo: <strong>POST</strong></h6>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <form [formGroup]="createForm">
                        <label for="Tittle">Title</label>
                        <input type="text" formControlName="title" class="form-control form-control-sm">
                    </form>
                </div>
                <button (click) = "createItem()"
                        class="btn btn-success">Crear Item</button>
            </div>
        </div>
    </div>
</div>
